body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(images/photo_6237651549274880802_y.jpg); /* Replace 'your-image-url.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
}

.calculator {
    border: 1px solid #222;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator-screen {
    grid-column: span 4;
    height: 80px;
    background-color: #222;
    color: #fff;
    border: none;
    text-align: right;
    padding: 0 10px;
    font-size: 2.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

button {
    height: 60px;
    font-size: 1.5rem;
    border: none;
    background-color: #e9c46a;
    transition: background-color 0.3s;
}

button.operator {
    background-color: #264653;
    color: #fff;
}

button.equal-sign {
    background-color: #2a9d8f;
    color: #fff;
    grid-column: span 2;
}

button.all-clear, button.backspace, button.percent {
    background-color: #e76f51;
    color: #fff;
}

button:hover {
    background-color: #d4d4d4;
}

@media(max-width: 1000px) {
    .productList {
        grid-template-columns: repeat(2, 250px);
    }
}

@media(max-width: 500px) {
    .productList {
        grid-template-columns: repeat(1, 250px);
    }
}